.gallery {
  background-color: $text-field-background-fill;
}

.gallery__title {
  margin-left: 180px;
  padding: 48px 0px 64px 0px;
}

.gallery__imgs {
  width: 344px;
  height: 193px;
  margin: 0px 24px 24px 0px;
}

.gallery__imgs-wrapper {
  margin: 0px 0px 40px 180px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
