@font-face {
  font-family: "Avenir";
  src: url("..assets/font/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
  src: url("..assets/font/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
  src: url("..assets/font/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
}
body {
  font-family: "Avenir", Fallback, sans-serif;
  color: #323232;
}

.title__header--LVr1 {
  font-size: 60px;
  line-height: 68px;
}
.title__header--LVr2 {
  font-size: 36px;
  line-height: 44px;
}

.text__header {
  font-size: 24px;
  line-height: 32px;
}

.text__subheader {
  font-size: 16px;
  line-height: 24;
}
.text__paragraph-comment {
  font-size: 14px;
  line-height: 22px;
  font-weight: 100;
}
.text__list-contact {
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
}
