* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "AvenirRegular";
  src: url("../assets/font/AvenirNextProLT/LinotypeAvenirNextLTProRegular.otf");
}

@font-face {
  font-family: "AvenirDemi";
  src: url("../assets/font/AvenirNextProLT/LinotypeAvenirNextLTProDemi.otf");
}

@font-face {
  font-family: "AvenirBold";
  src: url("../assets/font/AvenirNextProLT/LinotypeAvenirNextLTProBold.otf");
}

@font-face {
  font-family: "AvenirHeavy";
  src: url("../assets/font/AvenirNextProLT/LinotypeAvenirNextLTProHeavy.otf");
}

body {
  font-family: "Avenir", Fallback, sans-serif;
  color: #323232;
}

.font-heroHeader {
  font-size: 60px;
  line-height: 68px;
}

.font-headerH1 {
  font-size: 36px;
  line-height: 44px;
}

.font-headerH2 {
  font-size: 24px;
  line-height: 32px;
}

.font-subheaderH3 {
  font-size: 16px;
  line-height: 24px;
}

.font-paragraphCcommentH4 {
  font-size: 14px;
  line-height: 22px;
}

.font-listContactInfoH5 {
  font-size: 14px;
  line-height: 20px;
}

.font-headerH1-mob {
  font-size: 24px;
  line-height: 32px;
}

.font-subheaderH2-mob {
  font-size: 14px;
  line-height: 22px;
}

.font-paragraphH4-mob {
  font-size: 13px;
  line-height: 18px;
}

.font-listContactInfoH4-mob {
  font-size: 13px;
  line-height: 18px;
}

.font-labelH5 {
  font-size: 12px;
  line-height: 20px;
}

.header {
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
}

.header__logo {
  margin: 0px auto 16px auto;
}

@media screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    margin: 0px 48px 0px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin: 0px 56px 0px 180px;
  }
}

.navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__link-biog {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: AvenirBold;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 160px;
  height: 24px;
  border-bottom: 3px solid #fafafa;
}

.navigation__link-show {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: AvenirBold;
  color: #afafaf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 160px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navigation__link-biog {
    width: 90px;
    height: 80px;
    margin-right: 32px;
    border-bottom: 3px solid #fafafa;
  }
  .navigation__link-show {
    width: 90px;
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navigation__link-biog {
    width: 80px;
    height: 80px;
    margin-left: 56px;
  }
  .navigation__link-show {
    width: 80px;
    height: 80px;
    margin-left: 56px;
  }
}

.text__list-contact {
  color: #ffffff;
  text-decoration: none;
}

.hero {
  background-image: url("../assets/images/Photo-gallery-10.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 183px;
}

.hero__title {
  color: #e1e1e1;
  width: 200px;
  margin-left: 16px;
  font-family: AvenirBold;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
  .hero__title {
    width: 550px;
    margin-left: 24px;
    font-size: 60px;
    line-height: 68px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 670px;
  }
  .hero__title {
    width: 700px;
    margin-left: 180px;
    font-size: 78px;
    line-height: 95px;
  }
}

.about {
  width: 100%;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  width: 288px;
  padding: 32px 0px 24px 0px;
  font-family: AvenirBold;
}

.about__img {
  width: 288px;
  height: 162px;
  margin: 0px auto 24px auto;
}

.about__quote {
  margin: 0px auto 32px auto;
  width: 288px;
  font-family: AvenirBold;
}

.about__quote-name {
  margin: 0px auto 40px auto;
  width: 288px;
  font-family: AvenirDemi;
}

.about__theband-title {
  margin: 0px auto 24px auto;
  width: 288px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: AvenirBold;
}

.about__text-wrapper {
  margin: 0px auto 40px auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about__paragraph {
  width: 288px;
  font-family: AvenirRegular;
}

.about__paragraph--first {
  font-family: AvenirRegular;
  width: 288px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .about__title {
    width: 720px;
    padding: 32px 0px 24px 0px;
    font-size: 36px;
    line-height: 44px;
  }
  .about__img {
    width: 720px;
    height: 362px;
  }
  .about__quote {
    width: 720px;
    font-size: 24px;
    line-height: 32px;
  }
  .about__quote-name {
    width: 720px;
  }
  .about__theband-title {
    margin-bottom: 24px;
    width: 720px;
    font-size: 24px;
    line-height: 32px;
  }
  .about__text-wrapper {
    margin: 0px auto 40px auto;
    width: 720px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about__paragraph {
    width: 348px;
    font-size: 14px;
    line-height: 22px;
  }
  .about__paragraph--first {
    width: 348px;
    margin-right: 24px;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .about__title {
    width: 1080px;
    padding: 48px 0px 48px 0px;
    font-size: 36px;
    line-height: 44px;
  }
  .about__img {
    width: 896px;
    height: 450px;
    margin-bottom: 48px;
  }
  .about__quote {
    margin-bottom: 40px;
    width: 896px;
    font-size: 24px;
    line-height: 32px;
    font-family: AvenirBold;
  }
  .about__quote-name {
    margin-bottom: 56px;
    width: 896px;
    font-size: 16px;
    line-height: 24px;
  }
  .about__theband-title {
    margin-bottom: 24px;
    width: 896px;
    font-size: 24px;
    line-height: 32px;
  }
  .about__text-wrapper {
    margin: 0px auto 40px auto;
    width: 896px;
  }
  .about__paragraph {
    width: 420px;
    font-size: 14px;
    line-height: 22px;
  }
  .about__paragraph--first {
    width: 420px;
    margin-right: 24px;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 22px;
  }
}

.gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e1e1e1;
}

.gallery__imgs-wrapper {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__title {
  width: 288px;
  padding: 32px 0px 24px 0px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirBold;
}

.gallery__imgs {
  width: 288px;
  margin: 0px auto 16px auto;
}

@media screen and (min-width: 768px) {
  .gallery__imgs-wrapper {
    width: 720px;
    margin: 0px 0px 24px 0px;
  }
  .gallery__title {
    width: 720px;
  }
  .gallery__imgs {
    width: 224px;
    height: 126px;
    margin: 0px 24px 24px 0px;
  }
  .gallery__imgs:nth-child(3) {
    margin: 0px 0px 24px 0px;
  }
  .gallery__imgs:nth-child(6) {
    margin: 0px 0px 24px 0px;
  }
  .gallery__imgs:nth-child(9) {
    margin: 0px 0px 24px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__imgs-wrapper {
    width: 1080px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gallery__title {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1080px;
    padding: 48px 0px 48px 0px;
    font-size: 36px;
    line-height: 44px;
  }
  .gallery__imgs {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 344px;
    height: 193px;
    margin: 0px 24px 24px 0px;
  }
}

.footer {
  width: 100%;
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top {
  width: 288px;
  padding: 48px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__title {
  color: #fafafa;
  width: 288px;
  font-family: AvenirBold;
}

.footer__social {
  width: 288px;
  padding-top: 24px;
}

.footer__social-icons {
  margin-right: 32px;
}

.footer__logo {
  width: 120px;
  height: 24px;
  display: none;
}

.footer__mid {
  width: 288px;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__text {
  color: #fafafa;
  font-family: AvenirRegular;
}

.footer__text:first-child {
  font-family: AvenirBold;
}

.footer__text:nth-child(2) {
  font-family: AvenirBold;
  margin-bottom: 24px;
}

.footer__text:nth-child(3) {
  font-family: AvenirRegular;
}

.footer__text:nth-child(4) {
  font-family: AvenirRegular;
  margin-bottom: 24px;
}

.footer__text:nth-child(5) {
  font-family: AvenirBold;
}

.footer__copyright {
  color: #fafafa;
  width: 288px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .footer__top {
    width: 720px;
  }
  .footer__title {
    width: 224px;
  }
  .footer__social {
    width: 320px;
    padding: 0px 0px 0px 56px;
  }
  .footer__logo {
    display: inline-block;
  }
  .footer__mid {
    width: 720px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__mid--col1 {
    width: 224px;
    margin-right: 24px;
  }
  .footer__mid--col2 {
    width: 224px;
    margin-right: 24px;
  }
  .footer__mid--col3 {
    width: 224px;
  }
  .footer__text {
    font-family: AvenirRegular;
  }
  .footer__copyright {
    width: 720px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__top {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1080px;
    padding-top: 48px;
    padding-bottom: 56px;
  }
  .footer .footer__title {
    color: #fafafa;
    width: 220px;
  }
  .footer .footer__social {
    width: 684px;
    padding-top: 0px;
  }
  .footer .footer__logo {
    display: inline-block;
  }
  .footer .footer__mid {
    width: 1080px;
    margin-bottom: 40px;
  }
  .footer .footer__mid--col1 {
    width: 276px;
  }
  .footer .footer__mid--col2 {
    width: 276px;
  }
  .footer .footer__mid--col3 {
    width: 276px;
  }
  .footer .footer__text--contact-name {
    margin-bottom: 24px;
  }
  .footer .footer__text--address {
    margin-bottom: 24px;
  }
  .footer .footer__copyright {
    width: 1080px;
    color: #fafafa;
  }
}
/*# sourceMappingURL=main.css.map */