.header {
  background-color: $navigation-background-fill;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 80px;
  &__logo {
    margin: 0px auto 16px auto;
  }
  @include tablet {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &__logo {
      margin: 0px 0px 0px 24px;
    }
  }
}
