.shows {
  background-color: $text-field-background-fill;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  &__wrap {
    width: 288px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__title {
    width: 288px;
    padding: 32px 0px 40px 0px;
    font-family: AvenirBold;
  }
  &__schedules-frame-wrap {
    width: 288px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  &__date-wrap-MOB {
    display: none;
  }
  &__venue-wrap-MOB {
    display: none;
  }
  &__location-wrap-MOB {
    display: none;
  }
  &__wrap-bottom {
    width: 288px;
  }
  &__schedules-frame {
    box-sizing: border-box;
    width: 288px;
  }
  &__wrapping {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    width: 288px;
    margin-bottom: 24px;
    border-bottom: 2px solid $text-field-border;
  }
  &__date-wrap {
    width: 288px;
  }
  &__date-title {
    font-family: AvenirDemi;
    color: $text-label-style-color;
    margin-bottom: 16px;
  }
  &__date {
    font-family: AvenirBold;
    margin-bottom: 24px;
  }
  &__venue-wrap {
    width: 288px;
  }
  &__venue-title {
    font-family: AvenirDemi;
    color: $text-label-style-color;
    margin-bottom: 16px;
  }
  &__venue {
    font-family: AvenirRegular;
    margin-bottom: 24px;
  }
  &__location-wrap {
    width: 288px;
  }
  &__location-title {
    font-family: AvenirDemi;
    color: $text-label-style-color;
    margin-bottom: 16px;
  }
  &__location {
    font-family: AvenirRegular;
    margin-bottom: 32px;
  }
  &__button {
    font-family: AvenirBold;
    width: 288px;
    margin-bottom: 16px;
    &:hover {
      background-color: $primary-cta-hover;
    }
  }
  @include tablet {
    &__wrap {
      width: 720px;
    }
    &__title {
      width: 720px;
      padding: 32px 0px 40px 0px;
      font-size: 36px;
      line-height: 44px;
      font-family: AvenirBold;
    }
    &__schedules-frame-wrap {
      width: 720px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    &__date-wrap-MOB {
      display: block;
      width: 214px;
      margin-bottom: 24px;
      font-family: AvenirDemi;
      color: $text-label-style-color;
    }
    &__venue-wrap-MOB {
      display: block;
      width: 148px;
      margin-bottom: 24px;
      font-family: AvenirDemi;
      color: $text-label-style-color;
    }
    &__location-wrap-MOB {
      display: block;
      width: 124px;
      margin-bottom: 24px;
      font-family: AvenirDemi;
      color: $text-label-style-color;
      // background-color: red;
    }
    &__wrap-bottom {
      width: 720px;
    }
    &__schedules-frame {
      width: 720px;
    }
    &__wrapping {
      width: 720px;
      margin-bottom: 24px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      border-bottom: 1px solid $text-field-border;
    }
    &__date-wrap {
      width: 224px;
    }
    &__date-title {
      display: none;
      font-family: AvenirDemi;
      color: $text-label-style-color;

      margin-bottom: 16px;
    }
    &__date {
      font-family: AvenirBold;
      margin-bottom: 24px;
    }
    &__venue-wrap {
      width: 124px;
    }
    &__venue-title {
      display: none;
      font-family: AvenirDemi;
      color: $text-label-style-color;
      margin-bottom: 16px;
    }
    &__venue {
      font-family: AvenirRegular;
      margin-bottom: 24px;
    }
    &__location-wrap {
      width: 124px;
      padding-left: 30px;
    }
    &__location-title {
      display: none;
      font-family: AvenirDemi;
      color: $text-label-style-color;
      margin-bottom: 16px;
    }
    &__location {
      font-family: AvenirRegular;
      margin-bottom: 24px;
    }
    &__button {
      font-family: AvenirBold;
      width: 160px;
      height: 48px;
      margin: 0px 0px 8px 88px;
      &:hover {
        background-color: $primary-cta-hover;
      }
    }
  }
  @include desktop {
    &__wrap {
      width: 896px;
    }
    &__title {
      width: 176px;
      padding: 48px 0px 40px 0px;
      font-family: AvenirBold;
    }
    &__schedules-frame-wrap {
      width: 720px;
      margin-top: 48px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }
    &__date-wrap-MOB {
      display: block;
      width: 224px;
      margin-bottom: 24px;
      font-family: AvenirDemi;
      color: $text-label-style-color;
    }
    &__venue-wrap-MOB {
      display: block;
      width: 153px;
      margin-bottom: 24px;
      font-family: AvenirDemi;
      color: $text-label-style-color;
    }
    &__location-wrap-MOB {
      display: block;
      width: 124px;
      margin-bottom: 24px;
      font-family: AvenirDemi;
      color: $text-label-style-color;
    }
    &__wrap-bottom {
      width: 720px;
    }
    &__schedules-frame {
      width: 720px;
    }
    &__wrapping {
      width: 720px;
      margin-bottom: 24px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      border-bottom: 1px solid $text-field-border;
    }
    &__date-wrap {
      width: 224px;
    }
    &__date-title {
      display: none;
      font-family: AvenirDemi;
      color: $text-label-style-color;

      margin-bottom: 16px;
    }
    &__date {
      font-family: AvenirBold;
      margin-bottom: 24px;
    }
    &__venue-wrap {
      width: 124px;
    }
    &__venue-title {
      display: none;
      font-family: AvenirDemi;
      color: $text-label-style-color;
      margin-bottom: 16px;
    }
    &__venue {
      font-family: AvenirRegular;
      margin-bottom: 24px;
    }
    &__location-wrap {
      width: 124px;
    }
    &__location-title {
      display: none;
      font-family: AvenirDemi;
      color: $text-label-style-color;
      margin-bottom: 16px;
    }
    &__location {
      font-family: AvenirRegular;
      margin-bottom: 24px;
    }
    &__button {
      font-family: AvenirBold;
      width: 160px;
      height: 48px;
      margin: 0px 0px 8px 58px;
      &:hover {
        background-color: $primary-cta-hover;
      }
    }
  }
}
